<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--
  <system.diagnostics>  
    <sources>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Off,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    
    <sharedListeners>
      <add initializeData="E:\Users\Admin\Documents\Visual Studio 2012\Projects\Mobile Dawg\SIUC311Services\WCF Services Library\web_tracelog.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
        <filter type="" />
      </add>
      <add initializeData="E:\Users\Admin\Documents\Visual Studio 2012\Projects\Mobile Dawg\SIUC311Services\WCF Services Library\web_messages.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="false" />
  </system.diagnostics>
  -->
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>

  <system.web>
    <compilation debug="true" enablePrefetchOptimization="true" optimizeCompilations="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="2147483647" executionTimeout="7200" enable="true" targetFramework="4.5" />
  </system.web>

  <system.serviceModel>

    <!-- <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" /> -->

    <diagnostics wmiProviderEnabled="false" performanceCounters="ServiceOnly">
      <messageLogging logMalformedMessages="false" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="false" />
      <endToEndTracing propagateActivity="true" activityTracing="true" messageFlowTracing="true" />
    </diagnostics>

    <behaviors>
      <serviceBehaviors>

        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="16" maxConcurrentInstances="2147483647" maxConcurrentSessions="10" />
        </behavior>

      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>

        <binding name="EmailBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="true" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="20971520" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>

        <binding name="ReportBinding" maxReceivedMessageSize="2147483647" />
        
      </basicHttpBinding>
    </bindings>

    <services>

      <service name="SIUC311Services.Service311" >
        <endpoint address="http://it-appdev1.ad.siu.edu/SIUC311Services/311Service.svc"
                  contract="SIUC311Services.I311Service"
                  binding="basicHttpBinding"
                  bindingConfiguration="ReportBinding" />
      </service>

      <service name="SIUC311Services.Mail">
        <endpoint address="http://it-appdev1.ad.siu.edu/SIUC311Services/311Service.svc"
                  contract="SIUC311Services.IMail"
                  binding="basicHttpBinding"
                  bindingConfiguration="EmailBinding" />
      </service>

    </services>

    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>

  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
      To browse web app root directory during debugging, set the value below to true.
      Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <!--
    <staticContent>
      <mimeMap fileExtension=".svc" mimeType="application/octet-stream" />
    </staticContent>
    -->
    <security>
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".svc" allowed="true" />
        </fileExtensions>
        <requestLimits maxAllowedContentLength="2147483647">
        </requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>

  <connectionStrings>
    <add name="reportsEntities" connectionString="metadata=res://*/ReportModel.csdl|res://*/ReportModel.ssdl|res://*/ReportModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IT-APPDEV1\APPDEVSQL;initial catalog=reports;persist security info=True;user id=Admin;password=abc123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

</configuration>